.u-white { color: $white; }
.u-black { color: $black; }

.u-primary { color: $primary-color; }

.u-blue { color: $blue; }

.u-success { color: $success-color; }
.u-warning { color: $warning-color; }
.u-danger { color: $danger-color; }

.u-grey20 { color: $grey40; }
.u-grey30 { color: $grey40; }
.u-grey40 { color: $grey40; }
.u-grey50 { color: $grey50; }
.u-grey70 { color: $grey70; }
.u-grey90 { color: $grey90; }

.u-bg-grey10 { background-color: $grey10; }
.u-bg-grey30 { background-color: $grey30; }
.u-bg-grey40 { background-color: $grey40; }
.u-bg-grey50 { background-color: $grey50; }
.u-bg-grey70 { background-color: $grey70; }
.u-bg-grey90 { background-color: $grey90; }

.u-bg-primary { background-color: $primary-color !important; }

.u-bg-black { background-color: $black; }

.u-fill-primary { fill: $primary-color; }
