{{#> base }}

    {{> navbar/navbar }}

    <main id="page-home">

        <!-- Intro -->
        <section id="intro">
            <div class="container">
                <div class="row center-xs start-sm middle-sm">

                    <div class="col-xs-10 col-sm-6 col-left">
                        <img src="assets/images/logo.svg" alt="O°code" height="64px">
                        <h1>{{{ i18n.INTRO.TITLE }}}</h1>
                        <p>{{ i18n.INTRO.SUBTITLE }}</p>
                    </div>

                    <div class="col-xs-10 col-sm-6 first-xs last-sm col-right">
                        <img src="assets/images/intro-right.svg" alt="illustration" height="618px">
                    </div>

                </div>

                <div class="follow-us row middle-xs">
                    <span>{{ i18n.INTRO.FOLLOW_US }}</span>
                    <a href="#" title="Facebook"><img src="assets/images/facebook.png" alt="Facebook" height="16px"></a>
                    <a href="#" title="Twitter"><img src="assets/images/twitter.png" alt="Twitter" height="16px"></a>
                </div>
            </div>
        </section>


    </main>

{{/ base }}
