#page-home {

    $sectionPadding: 160px 0;

    section#intro {

        .container { position: relative; }

        .col-left {
            img { margin-bottom: 32px; }
            h1 { margin-top: 0; }
        }
        .col-right { padding-left: 32px; }

        .follow-us {
            position: absolute;
            left: 0;
            bottom: 96px;
            height: 16px;
            line-height: 16px;

            span {
                margin-right: 24px;
                font-size: 1.2rem;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $primary;
            }

            a {
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 24px;
                transform: scale3d(1, 1, 1);
                transition: transform 200ms ease-in-out;

                &:hover { transform: scale3d(1.5, 1.5, 1.5); }
                &:last-child { margin-right: 0; }
            }
        }
    }

    section#services {

        padding: $sectionPadding;

        h2, p { text-align: left; }

        .service {
            margin: 0 0 56px;

            &:nth-child(2n) {
                h2, p { text-align: right; }
            }
            &:last-child { margin-bottom: 0; }
        }
    }

    section#applications {

        padding: $sectionPadding;

        .app {
            position: relative;
            height: 64px;
            margin: 0 0 56px;

            .text {
                position: absolute;
                top: 0;
                right: 64px;
                bottom: 0;
                left: 0;
                font-size: 1.4rem;
                font-weight: bold;
                margin-right: 24px;
            }
        }

        .col-right {
            .app .text { left: 64px; right: 0; margin-right: 0; margin-left: 24px; }
        }
    }

    section#advantages {

        padding: $sectionPadding;

        .row-desc { margin-bottom: 64px; }

        .advantage {
            img { margin-bottom: 24px; }
            .label { font-size: 1.4rem; font-weight: bold; }
        }
    }

    section#team {

        padding: $sectionPadding;

        .members {
            .member { margin-bottom: 24px; }
        }

        .member-preview {

            position: relative;
            min-height: 400px;

            .btn-prev, .btn-next {
                position: absolute;
                top: 0;
                width: 170px;
                height: 110px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;
                line-height: 116px;
                color: white;
                font-size: 1.2rem;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            .btn-prev {
                background-image: url('assets/images/slider-prev.svg');
                top: -30px;
                left: 0;
                padding-left: 15px;
                z-index: 1;
            }
            .btn-next {
                background-image: url('assets/images/slider-next.svg');
                right: 64px;
                top: -20px;
                line-height: 96px;
                z-index: 3;
            }

            .member-image {
                position: absolute;
                top: 0;
                left: -40px;
                right: 24px;
                height: 340px;
                background: url('assets/images/slider-mask.svg') center center no-repeat;
                z-index: 2;
            }
        }

        .member-description {
            .member-name { color: $primary; }
            .member-status { font-size: 1.4rem; color: $secondary; margin-bottom: 8px; }
            .member-xp { font-size: 1.4rem; color: $grey; margin-bottom: 40px; }
            .member-informations { font-size: 1.4rem; color: $light; }
        }
    }

    section#contact {

        background-color: #4C4CE0;
        color: white;
        padding: $sectionPadding;

        h2 { color: white; text-align: left; }
        p { color: white; font-size: 1.4rem; font-weight: 600; text-align: left; }
    }
}
