#page-home {

    $sectionPaddingV: 200px;

    .container { position: relative; }

    section#intro {

        .col-left {

            position: relative;
            transform: translate3d(0px, -64px, 0px);

            img, h1, p { position: relative; }

            img { margin-bottom: 32px; }
            h1 { margin-top: 0; }

            .shape {
                top: -74px;
                left: -74px;
                height: 434px;
                background-image: url('assets/images/intro-shape.svg');
            }
        }
        .col-right { padding-left: 32px; }

        .follow-us {
            position: absolute;
            left: 0;
            bottom: 96px;
            height: 16px;
            line-height: 16px;

            span {
                margin-right: 24px;
                font-size: 1.2rem;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $primary;
            }

            a {
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 24px;
                transform: scale3d(1, 1, 1) translate3d(0, 3px, 0);
                transition: transform 200ms ease-in-out;

                &:hover { transform: scale3d(1.5, 1.5, 1.5); }
                &:last-child { margin-right: 0; }
            }
        }
    }

    section#services {

        padding: $sectionPaddingV 0;

        .shape-left {
            right: auto;
            width: 806px;
            height: 558px;
            margin-left: -216px;
            margin-top: -8px;
            background-image: url('assets/images/service-shape-left.svg');
        }
        .shape-right {
            left: auto;
            width: 349px;
            height: 500px;
            margin-right: -308px;
            background-image: url('assets/images/service-shape-right.svg');
        }

        h2, p { text-align: left; }

        .service {
            position: relative;
            margin: 0 0 56px;

            img { max-width: 100%; }

            &:nth-child(2n) {
                h2, p { text-align: right; }
            }
            &:last-child { margin-bottom: 0; }
        }
    }

    section#applications {

        padding: $sectionPaddingV 0;

        .app {
            position: relative;
            height: 64px;
            margin: 0 0 56px;

            .text {
                position: absolute;
                top: 0;
                right: 64px;
                bottom: 0;
                left: 0;
                font-size: 1.4rem;
                font-weight: bold;
                margin-right: 24px;
            }
        }

        .col-right {
            .app .text { left: 64px; right: 0; margin-right: 0; margin-left: 24px; }
        }
    }

    section#advantages {

        padding: $sectionPaddingV 0;

        .shape-left {
            right: auto;
            width: 600px;
            height: 600px;
            margin-left: -210px;
            margin-top: -44px;
            background-image: url('assets/images/advantages-shape-left.svg');
        }
        .shape-right {
            left: auto;
            width: 480px;
            height: 480px;
            margin-right: -350px;
            margin-top: 10px;
            background-image: url('assets/images/advantages-shape-right.svg');
        }

        .row { position: relative; }
        .row-desc { margin-bottom: 64px; }

        .advantage {
            img { margin-bottom: 24px; }
            .label { font-size: 1.4rem; font-weight: bold; }
        }
    }

    section#team {

        padding: $sectionPaddingV 0;

        .shape {
            right: auto;
            width: 780px;
            height: 780px;
            margin-top: -100px;
            margin-left: -200px;
            background-image: url('assets/images/team-shape.svg');
        }

        svg { width: 0; height: 0; }

        #members {

            .member {
                width: 100%;
                padding: 1px;
                margin-bottom: 24px;
                background: url('assets/images/slider-member-back-1.svg') center center no-repeat;
                background-size: contain;
                cursor: pointer;

                .member-image {
                    width: 56px;
                    height: 56px;
                    margin: 0 auto;
                    transform: translate3d(2px, 0, 0);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    -webkit-clip-path: url(#member-shape-1);
                    clip-path: url(#member-shape-1);
                }

                &:hover, &.selected {
                    background-image: url('assets/images/slider-member-back-1_hover.svg');
                }

                &:nth-child(2n) {

                    background-image: url('assets/images/slider-member-back-2.svg');

                    .member-image { -webkit-clip-path: url(#member-shape-2); clip-path: url(#member-shape-2); }

                    &:hover, &.selected {
                        background-image: url('assets/images/slider-member-back-2_hover.svg');
                    }
                }
            }
        }

        #member-preview-wrapper {

            margin-top: -24px;

            .member-preview {

                position: relative;
                min-height: 400px;

                .btn-prev, .btn-next {
                    position: absolute;
                    top: 0;
                    width: 170px;
                    height: 110px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    text-align: center;
                    line-height: 116px;
                    color: white;
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    cursor: pointer;
                }
                .btn-prev {
                    background-image: url('assets/images/slider-prev.svg');
                    top: -30px;
                    left: 0;
                    padding-left: 15px;
                    z-index: 1;
                }
                .btn-next {
                    background-image: url('assets/images/slider-next.svg');
                    right: 64px;
                    top: -20px;
                    line-height: 96px;
                    z-index: 3;
                }

                .member-image {
                    position: absolute;
                    top: 0;
                    left: 110px;
                    right: 24px;
                    width: 374px;
                    height: 343px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    -webkit-clip-path: url(#member-preview-shape);
                    clip-path: url(#member-preview-shape);
                    z-index: 2;
                    transition: background-image 100ms linear;
                }
            }

            .member-description {
                .member-name { color: $primary; }
                .member-status { font-size: 1.4rem; color: $secondary; margin-bottom: 8px; }
                .member-xp { font-size: 1.4rem; color: $grey; margin-bottom: 40px; }
                .member-informations { font-size: 1.4rem; color: $light; }
            }
        }
    }

    section#contact {

        background-color: #4C4CE0;
        color: white;
        padding: $sectionPaddingV 0 ($sectionPaddingV + 48px);

        .shape-left {
            right: auto;
            width: 200px;
            height: 400px;
            margin-left: -120px;
            background-image: url('assets/images/contact-shape-left.svg');
        }
        .shape-right {
            left: auto;
            width: 500px;
            height: 580px;
            margin-right: -200px;
            margin-top: 80px;
            background-image: url('assets/images/contact-shape-right.svg');
        }

        .container > .row { position: relative; }

        h2 { color: white; text-align: left; }
        p { color: white; font-size: 1.4rem; font-weight: 600; text-align: left; }
    }

    @media screen and (max-width: map-get($flexboxgrid-breakpoints, md)) {

        section#intro {
            .col-left img { height: 48px; }
        }

        section#team {

            padding: $sectionPaddingV 0;

            #member-preview-wrapper {

                .member-preview {

                    .member-image {
                        position: relative;
                        top: auto;
                        left: auto;
                        right: auto;
                        transform: scale3d(0.7, 0.7, 0.7);
                    }
                }
            }
        }
    }

    @media screen and (max-width: map-get($flexboxgrid-breakpoints, sm)) {

        $sectionPaddingV: 64px;

        section#intro {

            padding: $sectionPaddingV 0;

            .col-right {
                height: 310px;
                padding: 0;
                img { position: absolute; right: -40%; height: 310px; }
            }
            .col-left {
                transform: translate3d(0, 0, 0);
                .shape { top: -54px; left: -210px; }
            }

            .follow-us {

                width: 24px;
                margin-left: 16px;

                a {
                    width: 24px;
                    height: 24px;
                    margin-right: 0;
                    margin-bottom: 24px;

                    img { width: 24px; height: 24px; }

                    &:last-child { margin-bottom: 0; }
                }
            }
        }

        section#services {

            padding: $sectionPaddingV 0;

            h2 { text-align: center !important; }
            .service {
                img { margin-bottom: 24px; }
            }
        }

        section#applications {

            padding: $sectionPaddingV 0;

            .app {

                position: relative;

                .text {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: 0;
                    padding-left: 16px;
                    margin: 0 !important;
                }

                img { width: 64px; }
            }

            .col-left .app {

                .text { left: 64px; padding-left: 16px; }

                &:nth-child(2n) {
                    .text { left: 0; right: 64px; padding-left: 0; padding-right: 16px; }
                }

            }
            .col-right .app {

                .text { right: 64px; padding-right: 16px; }

                &:nth-child(2n) {
                    .text { right: 0; left: 64px; padding-right: 0; padding-left: 16px; }
                }
            }
        }

        section#advantages {

            padding: $sectionPaddingV 0;

            .shape {
                background-size: 70%;
                &.shape-left { margin-top: 46px; }
                &.shape-right { margin-right: -460px; }
            }

            .row-desc { margin-bottom: 32px; }

            .advantage {
                img { width: 80%; }
                .label { font-size: 1.2rem; }
            }
        }

        section#team {

            padding: $sectionPaddingV 0;

            .shape { display: none; }

            #member-preview-wrapper {

                margin-top: 24px;

                .member-preview {

                    min-height: 300px;

                    .btn-prev, .btn-next {
                        top: 0;
                        width: 130px;
                        font-family: 'CircularStd';
                        font-weight: 900;
                        font-size: 2.8rem;
                        text-align: center;

                        span.visible-xs { display: block !important; }
                    }
                    .btn-prev { left: 40px; }
                    .btn-next { right: 40px; }

                    .member-image {
                        position: relative;
                        top: auto;
                        left: auto;
                        right: auto;
                        transform: scale3d(0.6, 0.6, 0.6);
                    }
                }

                .member-description { margin-top: -24px; text-align: left; }
            }
        }

        section#contact {

            padding: $sectionPaddingV 0;
            overflow: hidden;

            .shape {
                &.shape-left { display: none; }
                &.shape-right { top: auto; bottom: -320px; right: -100px; }
            }

            form button { margin-top: 0; }
        }
    }
}
