nav {

    $navLinkMinWidth: 80px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $navHeight;
    background-color: transparent;
    transition: box-shadow 100ms linear, height 300ms ease-in-out, background-color 200ms linear;
    z-index: 9;

    > .container {
        height: $navHeight;
        > .row { height: $navHeight; }
    }

    .col-logo {
        #link-logo {
            display: inline-block;
            height: 44px;
            opacity: 0;
            transform: translate3d(0, 100%, 0);
            transition: opacity 200ms ease-out, transform 300ms ease-in-out;
        }
    }

    .col-menu {

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: $navHeight;
            line-height: $navHeight;

            li {
                display: inline-block;
                text-align: center;
                min-width: $navLinkMinWidth;
                margin-right: 32px;

                &:last-child {
                    a { color: $secondary; }
                }

                a {
                    position: relative;
                    text-decoration: none;
                    color: $darkLight;
                    font-size: 1.2rem;
                    transition: color 300ms ease-in-out;

                    &:before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        width: 0;
                        height: 2px;
                        margin-left: -9px;
                        bottom: -4px;
                        background-color: $primary;
                        transition: width 200ms ease-in-out;
                    }

                    &:hover { color: $primary; }
                }

                &.active {
                    a {
                        color: $primary;
                        &:before { width: 18px; }
                    }
                }
            }
        }
    }

    &.shrink {
        background-color: white;;
        box-shadow: 0 6px 8px -3px rgba(black, 0.1);

        .col-logo #link-logo { opacity: 1; transform: translate3d(0, 0, 0); }
    }

    @media screen and (max-width: map-get($flexboxgrid-breakpoints, md)) {
        .col-menu ul li { margin-right: 16px; }
    }

    @media screen and (max-width: map-get($flexboxgrid-breakpoints, sm)) {

    }
}
