h1 { font-family: 'CircularStd'; font-weight: 900; color: $dark; font-size: 2.8rem; line-height: 1.3; }
h2 { font-family: 'CircularStd'; font-weight: 700; color: $dark; font-size: 2rem; line-height: 1.3; margin: 0 0 8px 0; }

p { color: $grey; font-size: 1.4rem; line-height: 1.5; margin: 0; }

.text-primary { color: $primary; }
.text-secondary { color: $secondary; }
