* { box-sizing: border-box; }
textarea, select, input, button { outline: none; }

@import 'theme/flexboxgrid';
@import 'theme/fonts';
@import 'theme/variables';
@import 'theme/colors';
@import 'theme/buttons';
@import 'theme/texts';

@import 'layouts/navbar/navbar';
@import 'pages/home/home';

::selection { background: $primary; color: white; }

body, html { font-family: 'Montserrat', sans-serif; font-size: 10px; font-weight: 600; }

@media only screen and (min-width: 48em) {
    .container { width: 69rem; }
}
@media only screen and (min-width: 64em) {
    .container { width: 85rem; }
}
@media only screen and (min-width: 75em) {
    .container { width: 96rem; }
}
