* { box-sizing: border-box; }
textarea, select, input, button { outline: none; }

@import 'theme/fonts';
@import 'theme/variables';
@import 'theme/colors';
@import 'theme/buttons';

@import 'theme/page/index';

::selection { background: $primary; color: white; }

body, html { font-family: 'Montserrat', sans-serif; font-size: 16px; font-weight: 600; }