* { box-sizing: border-box; }
textarea, select, input, button { outline: none; }

/* Variables */
$flexboxgrid-outer-margin: 0rem;
$flexboxgrid-gutter-width: 3rem;
$flexboxgrid-max-width: 960px;


/* Imports */
@import 'theme/flexboxgrid';
@import 'theme/fonts';
@import 'theme/variables';
@import 'theme/colors';
@import 'theme/buttons';
@import 'theme/texts';
@import 'theme/form';

@import 'layouts/navbar/navbar';
@import 'pages/home/home';


/* Global */
::selection { background: $primary; color: white; }

body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    overflow-x: hidden;
}

.container { width: 80%; }
