<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>

    <title>{{ htmlWebpackPlugin.options.title }}</title>

    <meta charset="UTF-8">
    <meta name="description" content="{{ htmlWebpackPlugin.options.description }}">
    <meta name="keywords" content="ocode">
    <meta http-equiv="Content-Security-Policy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="theme-color" content="#585AFA">

    <meta property="og:locale" content="fr_FR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Ocode">
    <meta property="og:description" content="Ocode">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Ocode">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Ocode">
    <meta name="twitter:description" content="Ocode">

    <link rel="icon" href="assets/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
    <meta name="msapplication-TileImage" content="assets/icons/ms-icon-144x144.png">

    <link rel="manifest" href="manifest.json">

    <link href="assets/stylesheets/normalize.css" rel="stylesheet">
    <link href="assets/stylesheets/flexboxgrid.min.css" rel="stylesheet">
    <link href="assets/stylesheets/flexboxgrid-helpers.min.css" rel="stylesheet">
</head>
<body>
    {{> @partial-block }}
</body>
</html>
